.headerActions {
  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;

}

.searchInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

/* Sisanya sama seperti Dashboard.module.css */